body {
    font-family: Tahoma, sans-serif;
    width: 100%;
    max-width: 100%; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vw;
}

body.footer-compatible {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

body[data-theme="light"] {
    color: black;
}
body[data-theme="light"] .bg2 {
    background-color: #ddd;
}
body[data-theme="dark"] {
    background-color: #1c2021;
    color: #fff;
}
body[data-theme="dark"] .bg2 {
    background-color: #292b2c;
    color: #bbb;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.main {
    flex-grow: 1;
    padding: 0 20%;
}

.columns2 {
    display: grid;
    overflow: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}
.columns3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
}
div, div div, div img, body p  {
    margin: 3% 0%;
}
.firstimg {
    margin-top: 0;
}

.code {
    margin: 3% 0%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height:125%;
    text-align: left;
}

.code * {
    text-wrap: wrap;
}

.code pre {
    padding: 3%;
}

.theme-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 18%;
}

.theme-btn img {
    max-width: 20px;
    max-height: 20px;
}

pre.list {
    font-family: inherit;
    margin: inherit;
    unicode-bidi: inherit;
    white-space: pre-wrap;
}

.footer-parent {
    background-color: rgb(32, 36, 41);
    font-size: small;
    bottom: 0;
    color: rgb(201, 210, 211);
    /* width: 100%; */
    /* max-width: 100%; */
    /* left: 50%; */
    /* right: 50%; */
    /* position: relative; */
    padding: 2% 5%;
    margin-bottom: -13%;
    /* margin-left: -50vw; */
    /* margin-right: -50vw; */
    box-sizing: border-box;
}

.footer-parent .code pre {
    background-color: #292b2c;
}

/* pre.code { */
    /* padding: 0; */
    /* margin-top: 0; */
/* } */

.footer-parent pre.code {
    background-color: rgb(58, 61, 61);
}

.img-container-ctr {
    text-align: center;
}
.img-container {
    text-align: left;
}

.switch {
    height: 10px;
    position: fixed;
    right: 100px;
    top: 0px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #2b2b2b;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

a.link {
    color: #80CBC4;
    /* text-decoration: none; */
}

a.link:visited {
    color: #80CBC4;  /* Ensures visited links stay the same */
}

a.link:active {
    color: #FBF8EF;
}

h1 {
    margin: 1em 0 0.1em;
}

h2, h3 {
    margin: 1em 0 0.2em;
}

span.textcode {
    font-weight:600;
    font-size:1.1em;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}
.test {
    color: blueviolet;
}